html {box-sizing: border-box;}
body {margin: 0;
      width: 1820px;
      font-size: 20px;
      font-family:'Courier New', Courier, monospace;
      background-color: black;}

.conteiner{
    display:grid;
    grid-template-columns: 3fr 1fr 3fr 2fr 2fr 3fr 3fr;
    grid-template-rows: 1fr 2fr 2fr repeat(5, 1fr);
    gap: 10px;
    width: 570px;
    height: auto;
    margin: auto;
    
}
.conteiner .grid {
    display:grid;
    height: 100%;
    padding: 16px;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(73, 69, 69);
    color: #fff;
    cursor: pointer;
}
.grid .item:hover{
    background-color: green;
    color: #fff;
    text-align: center;
 }
  .item {
    border: black 2px solid;
    height: 100%;
}
.grid .g-color-white{
    background-color: white;
    color:white;
}
.grid .g-color-yellow{
    background-color: yellow;
    color:yellow;
}
.grid .g-color-red{
    background-color: red;
    color: red;
}
.grid .g-color-black{
    background-color: black;
    color: black;
}
.grid .g-color-blue{
    background-color: rgb(79, 79, 208);
    color: rgb(79, 79, 208);
}
.grid .grid_item_1 {
    grid-column: 2 span;
}
.grid .grid_item_2{
    grid-column: 3 span;
}
.grid .grid_item_3,
.grid .grid_item_4,
{
    grid-column: 1 span;
}
.grid .grid_item_5 {
    grid-column: 1 span;
    grid-row: 2 span;
}
.grid .grid_item_6{
    grid-column: 4 span;
    grid-row: 4 span;
}
.grid .grid_item_7{
    grid-column: 2 span;
    grid-row: 2 span;
}
.grid .grid_item_8,
.grid .grid_item_14
{
    grid-column: 1 span;
    grid-row: 3 span;
}
.grid .grid_item_9,
.grid .grid_item_10{
    grid-row: 2 span;
    grid-column: 1 span;
}
.grid .grid_item_11 {
    grid-row: 2 span;
    grid-column: 2 span;
}
.grid .grid_item_12,
.grid .grid_item_15{
    grid-column: 2 span;
    grid-row: 1 span;
}
.grid .grid_item_13{
    grid-column: 2 span;
    grid-row: 1 span;
}
.grid .grid_item_17{
    grid-column: 2 span;
    grid-row: 2 span;
}
.grid .grid_item_16{
    grid-column: 2 span;
    grid-row: 2 span;
}
.grid .grid_item_21{
    grid-column: 2 span;
    grid-row: 1 span;
}
.grid .grid_item_22{
    grid-column: 1 span;
    grid-column: 1 span;
}
.grid .grid_item_18,
.grid .grid_item_19{
    grid-column: 2 span;
    grid-row: 1 span;
}
.grid .grid_item_20{
    grid-column: 2 span;
    grid-row: 2 span;
}
